.epc {
  background-color: #fff;
  border-radius: 8px;
  height: 100vh;
  justify-content: center;
  
}
.epc-text{
  display: flex;
  flex-direction: column;
  height: auto;
}

.epc h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 16px;
  color: #2c3e50;
}

.epc p {
  font-size: 1rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 30px auto;
  color: #2c3e50;
}
.card-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 20px; /* Add some space between the cards */
  margin-top: 20px;
 
}
.service-card {
  width: 250px;
  background-color: #2c3e50;
  border: 1px solid #68b089;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  background-color: #2e6f95;
}

.service-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}
.card-link{
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.service-card p {
  font-size: 1rem;
  color: white;
}
/* Styles for medium screens (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .epc {
    padding: 10px 10%; /* Reduce side padding for medium screens */
    height: auto; /* Allow height to adjust dynamically */
  }

  .epc h2 {
    font-size: 1rem; /* Slightly smaller font size for medium screens */
    margin-bottom: 15px;
  }

  .epc p {
    font-size: 1rem; /* Adjust paragraph font size */
    margin-bottom: 30px;
  }

  .card-section {
    flex-direction: row; /* Keep cards in a row */
    align-items: center; /* Center align cards */
    justify-content: space-between; /* Adjust spacing between cards */
    gap: 15px; /* Reduce gap between cards */
    flex-wrap: nowrap;
  }

  .service-card {
    width: 200px; /* Reduce card width for medium screens */
    padding: 15px; /* Adjust padding for better spacing */
  }

  .service-card img {
    width: 80px; /* Adjust image size for medium screens */
    height: 80px;
  }

  .service-card p {
    font-size: 0.9rem; /* Adjust text size for medium screens */
  }

  .card-link {
    font-size: 0.9rem; /* Adjust link font size */
  }
}
@media (max-width: 768px) {
  .epc{
    padding: 0 5%;
    height: auto;
    margin-top: -20px;
  }
  .card-section {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }

  .card {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
}