.partners {
 
  background: #fff;
  width: 100%;
  color: #2b3a41;
  text-align: center;
}

.partner-header {
  font-size: 2rem;
  color: #2b3a41;
  margin-bottom: 20px;
  text-align: left; /* Align header text to the left */
}

.partner-header span {
  color: #dda44e; /* Highlighted text color */
}

.partners p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 16px;
  color: #444; /* Text color */
  text-align: left; /* Align paragraph text to the left */
}

.partner-img-container {
  overflow: hidden; /* Hide overflowing images */
  width: 100%;
  position: relative;
  margin: 0 auto; /* Center the container */
  padding: 10px 0; /* Add padding to the top and bottom */
}

.partner-img {
  display: flex;
  gap: 20px; /* Space between images */
  animation: scroll 20s linear infinite; /* Continuous scrolling animation with reduced speed */
}

.partner-img img {
  height: 100px; /* Adjust the height of the images */
  object-fit: contain; /* Ensure images maintain their aspect ratio */
}

/* Keyframes for the seamless scrolling animation */
@keyframes scroll {
  from {
    transform: translateX(0); /* Start at the initial position */
  }
  to {
    transform: translateX(
      -50%
    ); /* Move halfway (since images are duplicated) */
  }
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .partners {
    width: 100%;
    margin: 0 auto; /* Center the container */
    
    text-align: center;
  }
  .partner-text{
  
  }

  .partner-img {
    animation: scroll 10s linear infinite; /* Slower scrolling for smaller screens */
  }

  .partner-img img {
    width: 80px; /* Adjust image size for smaller screens */
  }

  .partner-header {
    font-size: 1.4rem;
    text-align: center; /* Align header text to the center */
  }

  .partners p {
    font-size: 1rem;
    text-align: center; /* Align paragraph text to the center */
  }
}